# Agross Node.js Backend Server Configuration
PORT=5001

# MongoDB Connection String (Local MongoDB or MongoDB Atlas Cloud)
# Examples:
# Local: MONGODB_URI=mongodb://127.0.0.1:27017/agross
# Atlas: MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/agross?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/agross
